DB_ROOT_PASSWORD=zerodaypoke_groot_password
DB_USER=zerodaypoke_user
DB_PASS=zerodaypoke_password
DB_NAME=zerodaypoke
DB_HOST=localhost
DB_DIAL=mysql

DEFAULT_ADMIN_EMAIL=cstampok@gmail.com
DEFAULT_ADMIN_PASSWORD=supersecretadminpasswordzdp
DEFAULT_ADMIN_USERNAME=self

SECRET_KEY=supersecretflaskuwukey

UPLOAD_FOLDER=app/static/images/
ALLOWED_EXTENSIONS=png,jpg,jpeg,gif
MAX_FILE_SIZE=1572864

EMAIL_SERVICE_URL=http://zerodaypoke.com:3000/send-email
EMAIL_USERNAME=diamondpawsholding@gmail.com
EMAIL_PASSWORD=wwjdqoxqtddtkfvt

CV_UPLOAD_FOLDER=app/static/cv/
CV_PDF_NAME=chris_stamper_cv.pdf

USE_EXTENDED_BOOTSTRAP=True

GIT_USERNAME=zerodaypoke
FLASK_APP_REPO=digital_cv
FLASK_APP_PORT=8000
FLASK_APP_DOMAIN=zerodaypoke.com
FLASK_APP_ENV=development
FLASK_DEBUG=True
