<div
  id="skillsCarousel{{ edu.id }}"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    {% for skill in edu.related_skills %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      <img
        src="{{ url_for('static', filename='images/skills/' + skill.image_filename) }}"
        class="d-block w-100"
        alt="{{ skill.name }}"
      />
      <div class="carousel-caption">
        <h5 class="carousel-skill-name">{{ skill.name }}</h5>
      </div>
    </div>
    {% endfor %}
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#skillsCarousel{{ edu.id }}"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#skillsCarousel{{ edu.id }}"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
