{% extends 'base.html' %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/service.css', v='1.0') }}" />
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='scripts/service.js', v='1.0') }}"></script>
{% endblock %}

<!-- Header Section -->
<section class="text-center container service-header">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-neon-pink">Our Services</h1>
      <p class="lead text-electric-blue">
        Explore our range of specialized services designed to integrate your professional needs with cutting-edge software solutions.
      </p>
    </div>
  </div>
</section>

<!-- Dynamic Filter Form -->
<section class="filter-section">
  <div class="container">
    {{ render_filter_form(form, 'services_routes.services', 'Apply Filters', 'service-filters-form', 'service-filters-form') }}
  </div>
</section>

<!-- Services List -->
<section class="album py-5 bg-dark-gray">
  <div class="container">
    <div id="services-list" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <!-- Dynamic services will be loaded here -->
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="text-center container pb-5" style="background-color: var(--dark-gray)">
  <p class="lead text-electric-blue">Interested in our services or need more information? Feel free to reach out.</p>
  <button type="button" class="btn btn-primary btn-lg button-neon">Contact Us</button>
</section>

{% endblock %}
