body {
  background: url("../images/defaults/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-container {
  float: right;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: auto;
}

#petCarousel {
  position: relative;
  margin-top: 20px;
}

#petCarousel .carousel-inner {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
}

#petCarousel .carousel-control-prev,
#petCarousel .carousel-control-next {
  color: var(--neon-pink);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.about-text,
.about-heading {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.1em;
  font-weight: bold;
}

.about-heading {
  font-size: 2em;
}

.catousel-image {
  width: 100%;
  height: auto;
  max-height: 650px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.about-text::after {
  content: "";
  display: table;
  clear: both;
}

.text-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 5px;
}
