.img-container {
  max-height: 650px;
  overflow: hidden;
  border-radius: 50%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-bg {
  background: url('../images/bg.png') no-repeat center center fixed;
  background-size: cover;
}

.navbar, .navbar-expand-lg {
  background: transparent;
}
