{% for project in projects %}
<div
  class="project-data"
  data-name="{{ project.name }}"
  data-category="{{ project.category.name|lower }}"
  data-status="{{ project.status.name|lower }}"
  data-featured="{{ project.is_featured }}"
  data-related-skills="{{ project.related_skills | map(attribute='name') | join(', ') }}"
  data-description="{{ project.description }}"
  data-role="{{ project.role }}"
  data-repo-link="{{ project.repo_link }}"
  data-live-link="{{ project.live_link }}"
  data-image="{{ url_for('static', filename='images/projects/' + (project.image_filename or 'notfound2.png')) }}"
></div>
{% endfor %}

<div class="mt-4 project-section">
  <!-- Featured Filter -->
  <div class="project-filters mb-3 text-center">
    <h3 class="filter-category-header">Featured</h3>
    <button
      class="btn btn-outline-success project-filter-btn"
      data-filter="featured"
      data-is-featured="true"
    >
      Featured
    </button>
  </div>

  <!-- Categorical Filters -->
  <div class="project-filters mb-3 text-center">
    <h3 class="filter-category-header">Categories</h3>
    {% for category in project_categories %}
    <button
      class="btn btn-outline-success project-filter-btn"
      data-filter="{{ category.name|lower }}"
    >
      {{ category.name }}
    </button>
    {% endfor %}
  </div>

  <!-- Status Filters -->
  <div class="project-filters mb-3 text-center">
    <h3 class="filter-category-header">Status</h3>
    <button
      class="btn btn-outline-success project-status-filter-btn"
      data-status="PLANNING"
    >
      Planning
    </button>
    <button
      class="btn btn-outline-success project-status-filter-btn"
      data-status="IN_PROGRESS"
    >
      In Progress
    </button>
    <button
      class="btn btn-outline-success project-status-filter-btn"
      data-status="COMPLETED"
    >
      Completed
    </button>
    <button
      class="btn btn-outline-success project-status-filter-btn"
      data-status="ON_HOLD"
    >
      On Hold
    </button>
  </div>

  <div id="dynamic-projects-section">
    <h3 class="project-category-header" id="dynamic-project-header">
      Featured Projects
    </h3>
    <div class="row" id="project-cards-container"></div>
  </div>
</div>
