<!-- ./app/templates/resume/project-synopsis.html -->

<div class="card bg-success">
  <div class="card-body">
    <!-- Project Name -->
    <h5 class="card-title">{{ project.name }}</h5>

    <!-- Role in Project -->
    <h6 class="card-subtitle mb-2 text-muted">{{ project.role or 'N/A' }}</h6>

    <!-- Project Description -->
    <p class="card-text">
      {{ project.description or 'Description not available' }}
    </p>

    <!-- Project Repository and Live Links -->
    <div class="d-flex justify-content-between">
      <a
        href="{{ project.repo_link or '#' }}"
        class="btn btn-primary"
        {%
        if
        not
        project.repo_link
        %}disabled{%
        endif
        %}
        >Repo</a
      >
      <a
        href="{{ project.live_link or '#' }}"
        class="btn btn-success"
        {%
        if
        not
        project.live_link
        %}disabled{%
        endif
        %}
        >Live</a
      >
    </div>
  </div>
</div>
