{% for skill in skills %}
<div
  class="skill-data"
  data-name="{{ skill.name }}"
  data-category="{{ skill.category.value }}"
  data-level="{{ skill.level.name }}"
  data-featured="{{ skill.is_featured }}"
  data-image="{{ url_for('static', filename='images/skills/' + (skill.image_filename or 'default_skill.png')) }}"
></div>
{% endfor %}

<div class="mt-4 skills-section">
  <h2 class="section-header text-center mb-5">Skills</h2>

  <div class="skill-filters mb-3 text-center">
    <button
      class="btn btn-outline-success filter-btn active-filter"
      data-filter="featured"
      data-is-featured="true"
    >
      Featured
    </button>
    {% for category in skill_categories %}
    <button class="btn btn-outline-success filter-btn" data-filter="{{ category|lower }}">
      {{ category }}
    </button>
    {% endfor %}
    <button class="btn btn-outline-success level-filter-btn" data-level="beginner">Beginner</button>
    <button class="btn btn-outline-success level-filter-btn" data-level="intermediate">
      Intermediate
    </button>
    <button class="btn btn-outline-success level-filter-btn" data-level="advanced">Advanced</button>
  </div>

  <div id="dynamic-skills-section">
    <h3 class="skill-category-header" id="dynamic-header">Featured</h3>
    <div class="row" id="skill-cards-container"></div>
  </div>
</div>
