<footer class="mt-3 py-2 bg-dark text-light">
  <div class="container">
    <div class="row">
      <section class="col-md-4">
        <h5>About</h5>
        <p>Having fun making a digital resume... thing...</p>
      </section>
      <nav class="col-md-4">
        <h5>Quick Links</h5>
        <ul>
          <li><a href="#">To Top</a></li>
        </ul>
      </nav>
      <address class="col-md-4">
        <h5>Contact</h5>
        <ul class="list-unstyled text-light">
          <li>
            <span class="info-label">Phone:</span>
            <a href="tel:9189144816">(918) 914-4816</a>
          </li>
          <li>
            <span class="info-label">Email:</span>
            <a href="mailto:cstampok@gmail.com">cstampok@gmail.com</a>
          </li>
          <li>
            <span class="info-label">Website:</span>
            <a href="https://zerodaypoke.com"
              >zerodaypoke.com</a
            >
          </li>
          <li>
            <span class="info-label">GitHub:</span>
            <a href="https://github.com/zerodaypoke">github.com/ZeroDayPoke</a>
          </li>
          <li>
            <span class="info-label">LinkedIn:</span>
            <a href="https://www.linkedin.com/in/zerodaypoke/"
              >linkedin.com/in/zerodaypoke/</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p>&copy; self.__name__</p>
        <p>This has been hilarious</p>
      </div>
    </div>
  </div>
</footer>
