<section class="row align-items-center">
  <div class="col-12">
    <h1>{{ _('header_name') }}</h1>
    <h2>{{ _('header_roles') }}</h2>
    <p class="fs-5">{{ _('header_location') }}</p>
  </div>
</section>
<section class="row align-items-center">
  <div class="col-md-4">
    <div class="mb-4">
      <h3>Contact Info</h3>
      <address>
        <ul class="list-unstyled">
          <li>
            <span class="info-label">Email:</span>
            <a href="mailto:{{ _('contact_email') }}"
              >{{ _('contact_email') }}</a
            >
          </li>
          <li>
            <span class="info-label">Website:</span>
            <a href="{{ _('contact_website') }}">{{ _('contact_website') }}</a>
          </li>
          <li>
            <span class="info-label">GitHub:</span>
            <a href="{{ _('contact_github') }}">{{ _('contact_github') }}</a>
          </li>
          <li>
            <span class="info-label">LinkedIn:</span>
            <a href="{{ _('contact_linkedin') }}"
              >{{ _('contact_linkedin') }}</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-4">
      <h3>Objective</h3>
      <p class="small">{{ _('header_objective') }}</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-md-end">
      <div class="mb-4">
        <h3>Interact</h3>
        <a
          href="{{ _('download_code_link') }}"
          download="Source_Code"
          class="btn btn-primary ml-2"
          >Download Source Code</a
        >
        <a
          href="{{ _('download_cv_link') }}"
          download="Chris_Stamper_CV"
          class="btn btn-primary"
          >Download CV</a
        >
        <a href="mailto:{{ _('hire_me_email') }}" class="btn btn-primary ml-2"
          >Hire Me</a
        >
      </div>
    </div>
  </div>
</section>
