<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Projects
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
      <a class="dropdown-item" href="#strain">STRAIN.gg Clouds</a>
    </li>
    <li><a class="dropdown-item" href="#hbnb">HBNB Clone</a></li>
    <li>
      <a class="dropdown-item" href="#shell">Simple Shell</a>
    </li>
  </ul>
</li>
