<!-- 
  Placeholder div for navbar spacing:

  The bottom margin classes (mb-*) are set to ensure that the main content 
  does not overlap with the fixed navbar. The values are determined based on 
  the height of the navbar for different screen sizes:

  - Extra Small screens (xs): 60px (mb-6)
  - Small screens (sm): 70px (mb-sm-7)
  - Medium screens (md): 80px (mb-md-8)
  - Large screens (lg): 90px (mb-lg-9)
  - Extra Large screens (xl): 100px (mb-xl-10)

  If you wish to adjust these values, you can modify the mb-* classes 
  according to your navbar's height for each screen size.
-->
<div class="mb-4"></div>
<div class="mb-5 mb-sm-6 mb-md-7 mb-lg-8 mb-xl-9"></div>
