<!-- app/templates/default/nav/main.html -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-paint-black">
  <div class="container">
    {% include 'default/nav/brand.html' %}

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left-aligned links -->
      <div class="navbar-nav me-auto">
        {% include 'default/nav/links/left.html' %}
      </div>

      <!-- Center-aligned links -->
      <div class="navbar-nav mx-auto">
        {% include 'default/nav/links/center.html' %}
      </div>

      <!-- Right-aligned links -->
      <div class="navbar-nav ms-auto">
        {% include 'default/nav/links/right.html' %}
      </div>
    </div>
  </div>
</nav>
