{% extends "base.html" %} {% block title %} About Me {% endblock %} {% block css
%}
<style>
  #about-section {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
  }
</style>
{% endblock %} {% block content %}
<section id="about-section">
  <h1>About Me</h1>
  <p>
    This is a template for a simple marketing or informational website. It
    includes a large callout called a jumbotron and three supporting pieces of
    content. Use it as a starting point to create something more unique.
  </p>
  <h2>Education</h2>
  <p>
    Describe your education history, perhaps highlighting any relevant
    qualifications.
  </p>
  <h2>Career</h2>
  <p>
    Describe your career history, perhaps highlighting any relevant positions or
    projects.
  </p>
  <h2>Interests</h2>
  <p>
    What are you passionate about? What do you do in your free time? What
    projects are you working on?
  </p>
</section>
{% endblock %}
