<section class="row align-items-center">
  <div class="col-12">
    <h1>Chris Stamper</h1>
    <h2>Data Engineer, Software Engineer, Chemical Engineer</h2>
    <p class="fs-5">Location: Tulsa, Oklahoma, United States</p>
  </div>
</section>
<section class="row align-items-center">
  <div class="col-md-4">
    <div class="mb-4">
      <h3>Contact Info</h3>
      <address>
        <ul class="list-unstyled">
          <li>
            <span class="info-label">Phone:</span>
            <a href="tel:9189144816">(918) 914-4816</a>
          </li>
          <li>
            <span class="info-label">Email:</span>
            <a href="mailto:cstampok@gmail.com">cstampok@gmail.com</a>
          </li>
          <li>
            <span class="info-label">Website:</span>
            <a href="https://zerodaypoke.com/pr/cv/v2.html"
              >zerodaypoke.com/pr/cv/v2.html</a
            >
          </li>
          <li>
            <span class="info-label">GitHub:</span>
            <a href="https://github.com/zerodaypoke">github.com/ZeroDayPoke</a>
          </li>
          <li>
            <span class="info-label">LinkedIn:</span>
            <a href="https://www.linkedin.com/in/zerodaypoke/"
              >linkedin.com/in/zerodaypoke/</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-4">
      <h3>Objective</h3>
      <p class="small">
        I am a versatile and driven engineer seeking an exciting career
        opportunity. While I have a particular interest in transitioning into a
        machine learning role, I am also open to positions in various areas,
        including full-stack development. I am eager to apply my technical
        expertise and problem-solving skills to contribute to the success of
        innovative projects and teams.
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-md-end">
      <div class="mb-4">
        <h3>Interact</h3>
        <a
          href="https://zerodaypoke.com/static/resume_draft_v2.pdf"
          download="Source_Code"
          class="btn btn-primary ml-2"
          >Download Source Code</a
        >
        <a
          href="https://zerodaypoke.com/static/chris_stamper_cv.pdf"
          download="Chris_Stamper_CV"
          class="btn btn-primary"
          >Download CV</a
        >
        <a
          href="mailto:cstampok@gmail.com?subject=Job Opportunity"
          class="btn btn-primary ml-2"
          >Hire Me</a
        >
      </div>
    </div>
  </div>
</section>
