{% extends "base.html" %}

{% block title %}
Shnarf
{% endblock %}

{% block css %}
<!-- Additional CSS for landing page -->
<style>
	/* Additional styles for landing page */
	#introduction {
		background-color: #ffffff;
		padding: 20px;
		border-radius: 8px;
	}

	/* Hero Section */
	.hero-section {
		background-image: url("{{ url_for('static', filename='images/surprised-pikachu.png') }}");
		background-size: 30%;  /* or contain, or 100% 50%, etc. */
		background-position: right; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		color: #fff;
		text-align: center;
		padding: 100px 0;
	}


	/* Parallax */
	.parallax {
		background-image: url('path/to/your/parallax-image.jpg');
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero-section">
	<h1 class="display-1">Mason Counts</h1>
	<p class="lead">Data Engineer | Machine Learning Enthusiast | Neuroscience Aficionado</p>
</section>

<!-- Parallax Scrolling -->
<section class="parallax py-5 text-white">
	<h2>UNDER CONTRUCTION KEK</h2>
</section>


<section class="row">
	<article class="col-md-12">
		<div class="mt-4 card bg-secondary text-white" id="introduction">
			<div class="card-body">
				<h2 class="card-title">Welcome to Troll Land</h2>
				<p class="card-text">
					Shnarf
				</p>
			</div>
		</div>
	</article>
</section>
{% endblock %}
