<!-- app/templates/interface.html -->
{% extends "base.html" %} {% from "macros.html" import render_form %} {% block
title %}Interface{% endblock %} {% block main %}{% endblock %} {% block header
%} {% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Add Project</h2>
      {{ render_form(add_project_form, 'project_routes.add_project', 'Add') }}
    </div>
    <div class="col-lg-6">
      <h2>Add Skill</h2>
      {{ render_form(add_skill_form, 'skill_routes.add_skill', 'Add') }}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Add Blog</h2>
      {{ render_form(add_blog_form, 'blog_routes.add_blog', 'Add') }}
    </div>
    <div class="col-lg-6">
      <h2>Delete Blog</h2>
      {{ render_form(delete_blog_form, 'blog_routes.delete_blog', 'Delete') }}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Delete Skill</h2>
      {{ render_form(delete_skill_form, 'skill_routes.delete_skill', 'Delete')
      }}
    </div>
    <div class="col-lg-6">
      <h2>Delete Project</h2>
      {{ render_form(delete_project_form, 'project_routes.delete_project',
      'Delete') }}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Update Project</h2>
      {{ render_form(update_project_form, 'project_routes.update_project',
      'Update') }}
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}{% endblock %} {% block styles %}{% endblock
%}
