{% extends 'base.html' %}
{% block content %}

<section class="row justify-content-center">
  <div class="col-md-10">
    <div class="card project-card mb-4 bg-dark text-light">
      <div class="card-body">
        <h1 class="card-title">
          {% if project.repo_link %}
          <a href="{{ project.repo_link }}" target="_blank">{{ project.name }}</a>
          {% else %}
          {{ project.name }}
          {% endif %}
        </h1>
        <p class="card-text"><b>Description:</b> {{ project.description }}</p>
        <p class="card-text"><b>Role:</b> {{ project.role }}</p>
        {% if project.live_link %}
        <p><b>Live Project At:</b> 
          <a href="{{ project.live_link }}" target="_blank">{{ project.live_link }}</a>
        </p>
        {% endif %}
        <ul>
          <li>
            <b>Related Skills:</b>
            <ul>
              {% for skill in project.related_skills %}
              <li>{{ skill.name }}</li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
