{% extends 'base.html' %} 
{% block content %}

<!-- Main Container -->
<div class="container-fluid">

  <!-- Row for Filter and Carousel + Synopsis -->
  <div class="row flex-md-row">
  
    <!-- Column for Filter -->
    <div class="col-12 col-md-4">
      {% include 'caro/filter.html' %}
    </div>

    <!-- Column for Carousel and Synopsis -->
    <div class="col-12 col-md-8">
    
      <!-- Carousel -->
      {% include 'caro/main.html' %}
      
      <!-- Project Synopsis -->
      {% include 'caro/synopsis.html' %}
      
    </div>
  </div>

</div> <!-- End Main Container -->

{% endblock %}
