{% extends 'base.html' %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/project-detail.css', v='1.2') }}"
/>
{% endblock %} {% block content %}
<section class="row justify-content-center">
  <div class="col-md-10">
    <div class="card project-card mb-4 bg-dark text-light card-container">
      <div class="card-header">
        <h3>
          {% if project.repo_link %}
          <a href="{{ project.repo_link }}" target="_blank"
            >{{ project.name }}</a
          >
          {% else %} {{ project.name }} {% endif %}
        </h3>
      </div>
      <div class="card-body">
        <div class="row d-flex align-items-stretch flex-wrap mb-4">
          <div class="col-md-6 d-flex flex-column">
            <h6 class="card-title text-muted mb-4">
              {% if project.repo_link %}
              <a href="{{ project.repo_link }}" target="_blank"
                >Github Repo: {{ project.repo_link }}</a
              >
              {% endif %}
            </h6>
            <h6 class="card-subtitle text-muted">
              {% if project.live_link %}
              <a href="{{ project.live_link }}" target="_blank"
                >Live Project At: {{ project.live_link }}</a
              >
              {% endif %}
            </h6>
          </div>
          <div
            class="col-md-6 d-flex justify-content-center align-items-center"
          >
            {% if project.image_filename %}
            <img
              src="{{ url_for('static', filename='images/projects/' + project.image_filename) }}"
              class="img-thumbnail stretch-full"
            />
            {% endif %}
          </div>
        </div>
        <div class="row d-flex align-items-stretch flex-wrap mb-4">
          <div class="col-md-12 d-flex flex-column">
            <p class="card-text mb-4">
              <b>Description:</b> {{ project.description }}
            </p>
            <p class="card-text mb-4"><b>Role:</b> {{ project.role }}</p>
            {% if project.misc_link %}
            <p>
              <b>{{ project.misc_name }} At:</b>
              <a href="{{ project.misc_link }}" target="_blank"
                >{{ project.misc_link }}</a
              >
            </p>
            {% endif %}
            <ul class="mb-4">
              <li>
                <b>Related Skills:</b>
                <ul>
                  {% for skill in project.related_skills %}
                  <li>{{ skill.name }}</li>
                  {% endfor %}
                </ul>
              </li>
              <li>
                <b>Collaborators:</b>
                <ul>
                  {% for collaborator in project.collaborators %}
                  <li>
                    <a
                      href="https://github.com/{{ collaborator.github_username }}"
                      target="_blank"
                      >{{ collaborator.username }}</a
                    >
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
