<!--
  This template uses a Babel dictionary for localization and personalization.
  The Babel dictionary contains key-value pairs where the keys represent fixed
  identifiers and the values represent user-specific or localized text.

  To modify any user-specific text, update the corresponding value in the Babel
  dictionary. You do not need to modify this template file directly for such changes.

  The Babel dictionary is used in conjunction with Jinja2's gettext function,
  commonly aliased as '_', to fetch the localized strings dynamically.
-->

{% extends "base.html" %}

<body class="text-light">
	<header class="container">
		{% include 'default/nav/main.html' %}
	</header>
    <main class="container">
      {% block content %}
			<section class="row align-items-center">
				<div class="col-12">
					<h1>Mason Counts</h1>
					<h2>Data Engineer, Silly Goose</h2>
					<p class="fs-5">Location: Tulsa, Oklahoma, United States</p>
				</div>
			</section>
			<section class="row align-items-center">
				<div class="col-md-4">
					<div class="mb-4">
						<h3>Contact Info</h3>
						<address>
							<ul class="list-unstyled">
								<li>
									<span class="info-label">Email:</span>
									<a href="mailto:cstampok@gmail.com">mlc9181209@gmail.com</a>
								</li>
								<li>
									<span class="info-label">Website:</span>
									<a href="https://masoncounts.com">masoncounts.com</a>
								</li>
								<li>
									<span class="info-label">GitHub:</span>
									<a href="https://github.com/spindouken">github.com/spindouken</a>
								</li>
								<li>
									<span class="info-label">LinkedIn:</span>
									<a href="https://www.linkedin.com/in/masoncounts/">linkedin.com/in/masoncounts/</a>
								</li>
							</ul>
						</address>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mb-4">
						<h3>Objective</h3>
						<p class="small">
              {{ _('header_objective') }}
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="text-md-end">
						<div class="mb-4">
							<h3>Interact</h3>
							<a href="https://masoncounts.com/static/resume_draft_v2.pdf" download="Source_Code"
								class="btn btn-primary ml-2">Download Source Code</a>
							<a href="https://masoncounts.com/static/resume/MASON_COUNTS-ATS_RESUME.pdf" download="Mason_Counts_ATS_Resume"
								class="btn btn-primary">Download Resume (ATS)</a>
							<a href="mailto:mlc9181209@gmail.com?subject=Job Opportunity" class="btn btn-primary ml-2">Hire Me</a>
						</div>
					</div>
				</div>
			</section>
      <section class="row">
        <article class="col-md-6">
          <div class="mt-4" id="education">
            <h2>Education</h2>
            <details open>
              <summary>
                <h3>Holberton School, Tulsa, Oklahoma</h3>
              </summary>
              <p>Computer Science & Machine Learning, Aug 2022 - Mar 2024</p>
              <p>
                The 20-month program at Holberton School started with a deep dive into C programming,
                followed by practical applications in Python and Full Stack development, including a project
                where a near-fully functioning Airbnb clone was built. The last 12 months were dedicated to
                specializing in Machine Learning, gaining a robust understanding of linear algebra, calculus,
                and probability, and practical application using tools like NumPy, Matplotlib, Jupyter notebooks,
                Pandas, Scikit-learn, and TensorFlow for data analysis and model development.
              </p>
              <p>Skills Acquired: SQL, Data Analysis, Programming, C, Python, Technical Writing</p>
            </details>
            <details open>
              <summary>
                <h3>Oklahoma State University, Stillwater, Oklahoma</h3>
              </summary>
              <p>Bachelors of Science in International Business, 2011 - 2014</p>
              <p>Activities: Chinese Language Association, Study abroad at Fudan University in Shanghai, China.</p>
              <p>Skills Acquired: Accounting, Finance, Data Analysis, Management, Technical Writing, Chinese Studies, Mandarin
                Chinese</p>
            </details>
            <details open>
              <summary>
                <h3>Tulsa Community College, Tulsa, Oklahoma</h3>
              </summary>
              <p>Business Administration and Management, General, 2009 - 2011</p>
              <p>
                Activities: Short study abroad at Shanghai University of Finance and Economics, some weeks at Beijing Union
                University, Attended World Expo 2010.
              </p>
              <p>Skills Acquired: Management, Technical Writing</p>
            </details>
          </div>
        </article>
        <article class="col-md-6">
          <div class="mt-4" id="technologies">
            <h2>Technology Skills</h2>
            <ul>
              <li>
                Programming Languages: Python, C, SQL
              </li>
              <li>Web Development: HTML/CSS, Flask</li>
              <li>Database Management: SQL, MySQL, SQLAlchemy</li>
              <li>Machine Learning Tools: Tensorflow, Keras, NumPy, Matplotlib, Jupyter notebooks, Google Colab</li>
              <li>Statistics and Mathematics: Statistics, Probability, Calculus, Linear Algebra</li>
              <li>Version Control: Git BASH</li>
              <li>Data Engineering: Data cleaning, Data modeling, Data preprocessing, Feature engineering, Feature selection</li>
              <li>Data Analysis and Visualization: MySQL, Technical Writing</li>
            </ul>
          </div>
        </article>
      </section>

      <section class="mt-4" id="experience">
        <h2>Experience</h2>
        <article>
          <h3>Brand Ambassador & Event Marketing Specialist</h3>
          <p>Duration: 8+ years</p>
          <p>
            Represented and served as a demonstrator for major tech brands like Sony, Samsung, and Google at high-profile events
            like GDC and SXSW. Engaged with attendees through interactive product demonstrations and collected user feedback.
          </p>
        </article>

        <article>
          <h3>Independent Contractor Assistant</h3>
          <p>Duration: 10+ years</p>
          <p>
            Assisted in a variety of technical roles including HVAC technician, plumber, painter, etc.
          </p>
        </article>
      </section>

      <section class="mt-4" id="projects">
        <h2>Projects</h2>
        <div class="row">
          <article class="col-md-6 col-lg-4">
            <div class="card project-card mb-4 bg-dark text-light" id="strain">
              <div class="card-body">
                <h3>
                  <a href="https://github.com/Julia-5534/DF"
                    >Death Farts</a
                  >
                </h3>
                <p>
                  Created for Holberton C19's Hack Sprint, this labor of love was wholly inspired by Flappy Bird, Death Trips, and Earth's
                  funniest pastime: farting. Only, let's swap Flappy Bird out for The Grim Reaper, A.K.A. Death. Instead of travelling
                  through a cityscape, Death travels from a graveyard, through the river Styx, and onward to Hell. Rinse and repeat. C'est
                  la vie.
                </p>
                <ul>
                  <li>
                    <b>Technologies used:</b> Python, Pygame, Neural Network (AI can play the game and updates weights and biases using fitness (death count) as target metric)
                  </li>
                  <li>
                    <b>Role:</b> Co-Creator
                  </li>
                </ul>
              </div>
            </div>
          </article>
          <article class="col-md-6 col-lg-4">
            <div class="card project-card mb-4 bg-dark text-light" id="hbnb">
              <div class="card-body">
                <h3>
                  <a
                    href="https://github.com/spindouken/holbertonschool-AirBnB_clone_v4"
                    >HBNB Clone</a
                  >
                </h3>
                <p>
                  This AirBNB clone is version 4 of an AirBNB clone project. The project included peer collaboration and resulted in a comprehensive, full-stack web application. Details: The application integrates a MySQL database
                  and a Flask RESTful API with a dynamic HTML/CSS/jQuery front-end. The codebase includes a class system built in Python
                  for managing back-end models, a Flask web application server rendering HTML templates with Jinja2, and a RESTful Flask
                  API.
                </p>
                <ul>
                  <li>
                    <b>Technologies used:</b> Flask, Python, HTML/CSS, and
                    Javascript
                  </li>
                  <li><b>Role:</b> Full-stack web developer</li>
                </ul>
              </div>
            </div>
          </article>
          <article class="col-md-6 col-lg-4">
            <div class="card project-card mb-4 bg-dark text-light" id="shell">
              <div class="card-body">
                <h3>
                  <a
                    href="https://github.com/spindouken/holbertonschool-simple_shell"
                    >Simple Shell</a
                  >
                </h3>
                <p>
                  Simple Shell is a project where we created a simple UNIX
                  command interpreter for a low-level programming project. The
                  project replicates functionality of the simple shell (sh).
                </p>
                <ul>
                  <li><b>Technologies used:</b> C</li>
                  <li><b>Role:</b> Shell developer</li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </section>
      {% endblock %}
	</main>
</body>

</html>
