<!-- app/templates/tutorial_detail.html -->
{% extends "base.html" %} {% block title %}{{ tutorial.name }}{% endblock %} {%
block content %}

<div class="row">
  <article class="col-md-8">
    <!-- <div class="mt-4" id="tutorial-intro">
      <h2>{{ tutorial.name }}</h2>
      <p>{{ tutorial.description }}</p>
    </div> -->


    <div class="mt-4" id="tutorial-content">
      <!-- Including the main content of the tutorial from its associated content file -->
      {% include 'tutorial/' + tutorial.content_file + '.html' %}
    </div>
  </article>

  <aside class="col-md-4">
    <nav role="navigation" aria-label="Table of Contents" id="toc-sticky">
      <h2 id="table-of-contents-heading">Table of Contents</h2>
      <ul>
        {% for section in sections %}
        <li><a href="#{{ section.anchor }}">{{ section.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </aside>
</div>

{% endblock %} {% block js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
{% endblock %}
