{% extends 'base.html' %} {% block content %}
<section class="row align-items-center">
  <div class="col-12">
    <h1>Chris Stamper's Tutorials</h1>
    <h2>Learn and Dive into Various Topics</h2>
    <p class="fs-5">
      Find tutorials on different programming and engineering topics below:
    </p>
  </div>
</section>
<section class="row align-items-center">
  <div class="col-12">
    <h3>Available Tutorials</h3>
    <ul class="list-unstyled">
      {% for tutorial in tutorials %}
      <li>
        <a
          href="{{ url_for('tutorial_routes.tutorial_detail', tutorial_id=tutorial.id) }}"
          >{{ tutorial.name }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
